.Home {
  background: url("../../images/stars.svg"), #1b1b25;
  background-repeat: repeat;
  min-height: calc(100vh - 62px);

  color: #ffffff;

  display: flex;
  align-items: center;
}

.Home__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .Home__col {
    align-items: flex-start;
  }
}
